<!DOCTYPE html>
<html>
<head>
    <#include "/common/header.html">
    <link rel="stylesheet" href="/css/login.css" media="all"/>
    <style type="text/css">
        html {
            background-color: #eee;
        }

        html, body {
            overflow-x: hidden;
            overflow-y: auto;
        }

        html body {
            margin-top: 80px;
        }

        body {
            line-height: 24px;
        }
    </style>
</head>
<body class="main_body">
<div class="layui-header login-header header">
    <div class="layui-main">
        <div class="login-logo">
            <a class="logo" href="/">
                Layui-Admin-权限管理系统
            </a>
        </div>
    </div>
</div>
<div class="login-main layui-clear">
    <div class="login-panel login-panel-user">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">登录</li>
            </ul>
            <div class="layui-form layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form layui-form-pane">
                        <form class="layui-form" action="/doLogin">
                            <div class="layui-form-item">
                                <label for="J_username" class="layui-form-label">用户名</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="J_username" name="username" required=""
                                           lay-verify="required" autocomplete="off" class="layui-input" value="user"
                                           placeholder="请输入用户名"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="J_password" class="layui-form-label">密码</label>
                                <div class="layui-input-inline">
                                    <input type="password" id="J_password" name="password" required=""
                                           lay-verify="required" autocomplete="off" class="layui-input" value="123456"
                                           placeholder="请输入密码"/>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="J_validateCode" class="layui-form-label">图形验证码</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="J_validateCode" name="imageCode" required=""
                                           lay-verify="required" autocomplete="off" class="layui-input"
                                           placeholder="请输入验证码"/>
                                </div>
                                <div class="layui-input-inline">
                                    <img src="/code/image?width=70&height=38" id="imageValidateCode"
                                         onclick="changeValidateCode()"/>
                                    <a href="javascript:void(0);" onclick="changeValidateCode()">换一张</a>
                            </div>
                            <div class="layui-form-item">
                                <button class="layui-btn" type="button" lay-filter="login" lay-submit>立即登录</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/layui/layui.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">

    var imageValidateCodeConf = '?width=70&height=38';

    layui.use(['layer', 'form'], function () {
        var $ = layui.jquery
            , form = layui.form()
            , layer = layui.layer;

        function loginSuccess() {
            layer.msg("登录成功", {icon: 6, time: 1000}, function (index) {
                layer.close(index);
                window.location.href = '/';
            });
        }

        function loginError(msg) {
            layer.msg(msg, {icon: 5, time: 2000}, function (index) {
                //$("#J_validateCode").attr('src', '/servlet/validateCodeServlet?width=110&height=38&'+Math.random());
                layer.close(index);
            });
        }

        //监听提交
        form.on('submit(login)', function (data) {
            var $btnLogin = $("button[lay-filter='login']");
            $btnLogin.addClass('layui-btn-disabled').text('登录中...');

            $.post('/authentication/form', data.field, function (ret) {
                if (ret.code == 200) {
                    loginSuccess();
                } else {
                    loginError(ret.content);
                }

                $btnLogin.removeClass('layui-btn-disabled').text('立即登录');
            });
            return false;
        });
    });

    $(function () {
        
    });

    /**
     * 刷新验证码
     */
    function changeValidateCode() {
        var imageObj = $("#imageValidateCode");
        var imageSrc = imageObj.attr("src");
        imageObj.attr("src", changeUrl(imageSrc.toString()));
    }

    /**
     * 为了使每次生成图片不一致,加上时间戳,不让浏览器读缓存
     * @param url
     * @returns {*}
     */
    function changeUrl(url) {
        var timestamp = (new Date()).valueOf();
        var index = url.lastIndexOf('?');
        if (index > 0) {
            url = url.substring(0, url.lastIndexOf('?'));
        }

        url = url + imageValidateCodeConf + "&timestamp=" + timestamp;
        console.info(url);
        return url;
    }
</script>
</body>
</html>